body { 
    color: rgb(226, 226, 226); 
    background-color: rgb(213, 213, 213); 
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

#canvas-container {
    width: 100%;
    height: 100%;
}

#glcanvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}